<a href="https://colab.research.google.com/github/cnddlf/2022_1_Study_AI/blob/main/Quiz01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#KNN 모델로 불꽃(iris) 데이터를 분석하는 모델을 생성하시오.

* 데이터 읽어들이기
* 데이터 전처리
* - 클랜징
* - 스케일링
* 모델생성
* - 모델생성
* - 최적화

위의 내용은 최소이며 최대한 할 수 있는 모든 내용을 확인해 보세요.

# 1. 데이터 읽어들이기

In [ ]:
from sklearn.datasets import load_iris

iris = load_iris()

In [ ]:
import pandas as pd

df_iris = pd.DataFrame(iris.data, columns = iris.feature_names)
df_iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

# 2. 데이터 전처리

## 2.1 클랜징

In [ ]:
# 결측치
df_iris.info()
df_iris.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [ ]:
# 이상치
df_iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

## 2.2 스케일링

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(df_iris)

MinMaxScaler()

In [ ]:
iris_scaled = scaler.transform(df_iris)
iris_scaled[:5]

array([[0.22222222, 0.625     , 0.06779661, 0.04166667],
       [0.16666667, 0.41666667, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.05084746, 0.04166667],
       [0.08333333, 0.45833333, 0.08474576, 0.04166667],
       [0.19444444, 0.66666667, 0.06779661, 0.04166667]])

# 3 모델생성

##3.1 모델생성

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(iris_scaled, iris['target'], random_state=62)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors = 3)
clf.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
clf.score(X_test, y_test)

0.9473684210526315

## 3.2 최적화

In [ ]:
from sklearn.model_selection import GridSearchCV

def get_best_hyper_parameter(clf, n_neighbors_list):
  params =  {
    'n_neighbors' : n_neighbors_list,
    'weights' : ["uniform", "distance"],
    'metric' : ['euclidean', 'manhattan', 'minkowski']
  }

  grid_cv = GridSearchCV(clf, param_grid=params, scoring='accuracy', cv=5)
  grid_cv.fit(X_train, y_train)
  print('Best Score: ', grid_cv.best_score_)
  print('Best Hyper Parameter:', grid_cv.best_params_)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
dt_clf = KNeighborsClassifier(n_neighbors = 3)

# 10단위 리스트
n_neighbors_list = range(1, 91, 10)
get_best_hyper_parameter(dt_clf, n_neighbors_list)

Best Score:  0.9731225296442687
Best Hyper Parameter: {'metric': 'euclidean', 'n_neighbors': 31, 'weights': 'distance'}

In [ ]:
dt_clf = KNeighborsClassifier()

In [ ]:
# 22 ~ 40, 3단위 리스트
# 22, 25, 28, 31, 34, 37, 40
n_neighbors_list = range(22, 40, 3)
get_best_hyper_parameter(dt_clf, n_neighbors_list)

Best Score:  0.9731225296442687
Best Hyper Parameter: {'metric': 'euclidean', 'n_neighbors': 31, 'weights': 'distance'}

In [ ]:
# 29~33, 1단위 리스트
# 29, 30, 31, 32, 33
n_neighbors_list = range(29, 33, 1)
get_best_hyper_parameter(dt_clf, n_neighbors_list)

Best Score:  0.9731225296442687
Best Hyper Parameter: {'metric': 'euclidean', 'n_neighbors': 30, 'weights': 'distance'}