<a href="https://colab.research.google.com/github/cnddlf/2022_1_Study_AI/blob/main/%EC%B6%94%EC%B2%9C_%EB%AA%A8%EB%8D%B8(0311).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dataset=[
         ['과자', '라면', '썬크림', '달걀'],
         ['과자', '라면', '맥주'],
         ['라면', '소주', '달걀'],
         ['소주', '맥주', '과자'],
         ['라면', '파', '달걀']
]

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_matrix = te.fit_transform(dataset)
te_matrix

array([[ True,  True,  True, False, False,  True, False],
       [ True, False,  True,  True, False, False, False],
       [False,  True,  True, False,  True, False, False],
       [ True, False, False,  True,  True, False, False],
       [False,  True,  True, False, False, False,  True]])

In [ ]:
import pandas as pd
df_sales = pd.DataFrame(te_matrix, columns = te.columns_)
df_sales

      과자     달걀     라면     맥주     소주    썬크림      파
0   True   True   True  False  False   True  False
1   True  False   True   True  False  False  False
2  False   True   True  False   True  False  False
3   True  False  False   True   True  False  False
4  False   True   True  False  False  False   True

In [ ]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df_sales, min_support=0.4, use_colnames=True)
frequent_itemsets

   support  itemsets
0      0.6      (과자)
1      0.6      (달걀)
2      0.8      (라면)
3      0.4      (맥주)
4      0.4      (소주)
5      0.4  (과자, 라면)
6      0.4  (과자, 맥주)
7      0.6  (라면, 달걀)

In [ ]:
frequent_itemsets['len']=frequent_itemsets['itemsets'].apply( lambda x : len(x))
frequent_itemsets

   support  itemsets  len
0      0.6      (과자)    1
1      0.6      (달걀)    1
2      0.8      (라면)    1
3      0.4      (맥주)    1
4      0.4      (소주)    1
5      0.4  (과자, 라면)    2
6      0.4  (과자, 맥주)    2
7      0.6  (라면, 달걀)    2

In [ ]:
from mlxtend.frequent_patterns import association_rules

ar = association_rules(frequent_itemsets, min_threshold=0.3)
ar.sort_values('lift', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(과자),(맥주),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
3,(맥주),(과자),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
5,(달걀),(라면),0.6,0.8,0.6,1.000000,1.250000,0.12,inf
4,(라면),(달걀),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6
0,(과자),(라면),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6
1,(라면),(과자),0.8,0.6,0.4,0.500000,0.833333,-0.08,0.8

In [ ]:
dataset = [ 
           ['아메리카노', '카페라떼'], 
           ['카페라떼', '아메리카노', '카푸치노'], 
           ['바닐라라떼', '아메리카노'], 
           ['녹차라떼', '카페라떼', '아메리카노'], 
           ['카페모카', '아메리카노'], 
           ['아메리카노', '카페라떼'], 
           ['초콜릿', '아메리카노'], 
           ['아메리카노'], 
           ['카페모카', '카페라떼'] 
           ]

In [ ]:
def getDataFrame(dataset):
  te = TransactionEncoder()
  te_matrix = te.fit_transform(dataset)
  return pd.DataFrame(te_matrix, columns = te.columns_)

In [ ]:
df_data = getDataFrame(dataset)
df_data

    녹차라떼  바닐라라떼  아메리카노    초콜릿   카페라떼   카페모카   카푸치노
0  False  False   True  False   True  False  False
1  False  False   True  False   True  False   True
2  False   True   True  False  False  False  False
3   True  False   True  False   True  False  False
4  False  False   True  False  False   True  False
5  False  False   True  False   True  False  False
6  False  False   True   True  False  False  False
7  False  False   True  False  False  False  False
8  False  False  False  False   True   True  False

In [ ]:
freq_items = apriori(df_data, min_support=0.1, use_colnames=True)
freq_items

     support             itemsets
0   0.111111               (녹차라떼)
1   0.111111              (바닐라라떼)
2   0.888889              (아메리카노)
3   0.111111                (초콜릿)
4   0.555556               (카페라떼)
5   0.222222               (카페모카)
6   0.111111               (카푸치노)
7   0.111111        (녹차라떼, 아메리카노)
8   0.111111         (녹차라떼, 카페라떼)
9   0.111111       (아메리카노, 바닐라라떼)
10  0.111111         (아메리카노, 초콜릿)
11  0.444444        (카페라떼, 아메리카노)
12  0.111111        (카페모카, 아메리카노)
13  0.111111        (카푸치노, 아메리카노)
14  0.111111         (카페라떼, 카페모카)
15  0.111111         (카페라떼, 카푸치노)
16  0.111111  (녹차라떼, 아메리카노, 카페라떼)
17  0.111111  (카페라떼, 아메리카노, 카푸치노)

In [ ]:
ar = association_rules(freq_items, min_threshold=0.3)
ar.sort_values('lift', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
12,(녹차라떼),"(카페라떼, 아메리카노)",0.111111,0.444444,0.111111,1.0,2.2500,0.061728,inf
15,(카푸치노),"(카페라떼, 아메리카노)",0.111111,0.444444,0.111111,1.0,2.2500,0.061728,inf
1,(녹차라떼),(카페라떼),0.111111,0.555556,0.111111,1.0,1.8000,0.049383,inf
9,(카푸치노),(카페라떼),0.111111,0.555556,0.111111,1.0,1.8000,0.049383,inf
10,"(녹차라떼, 아메리카노)",(카페라떼),0.111111,0.555556,0.111111,1.0,1.8000,0.049383,inf
14,"(카푸치노, 아메리카노)",(카페라떼),0.111111,0.555556,0.111111,1.0,1.8000,0.049383,inf
0,(녹차라떼),(아메리카노),0.111111,0.888889,0.111111,1.0,1.1250,0.012346,inf
2,(바닐라라떼),(아메리카노),0.111111,0.888889,0.111111,1.0,1.1250,0.012346,inf
3,(초콜릿),(아메리카노),0.111111,0.888889,0.111111,1.0,1.1250,0.012346,inf
7,(카푸치노),(아메리카노),0.111111,0.888889,0.111111,1.0,1.1250,0.012346,inf
11,"(녹차라떼, 카페라떼)",(아메리카노),0.111111,0.888889,0.111111,1.0,1.1250,0.012346,inf
13,"(카페라떼, 카푸치노)",(아메리카노),0.111111,0.888889,0.111111,1.0,1.1250,0.012346,inf
4,(카페라떼),(아메리카노),0.555556,0.888889,0.444444,0.8,0.9000,-0.049383,0.555556
5,(아메리카노),(카페라떼),0.888889,0.555556,0.444444,0.5,0.9000,-0.049383,0.888889
8,(카페모카),(카페라떼),0.222222,0.555556,0.111111,0.5,0.9000,-0.012346,0.888889
6,(카페모카),(아메리카노),0.222222,0.888889,0.111111,0.5,0.5625,-0.086420,0.222222